div
{
  height: 100%;
  width: 100%;
}

.non-active-piece {
  filter: contrast(25%);
}
.allowed-move {
  border: green solid 4px;
}
.illegal-move:hover {
  border: red solid 4px;
}


.Black-Pawn
{
  background-image:url('../../../assets/img/pieces/BlackPawn.png');
}

.Black-Rook
{
  background-image:url('../../../assets/img/pieces/BlackRook.png');
}

.Black-Knight
{
  background-image:url('../../../assets/img/pieces/BlackKnight.png');
}

.Black-Bishop
{
  background-image:url('../../../assets/img/pieces/BlackBishop.png');
}

.Black-Queen
{
  background-image:url('../../../assets/img/pieces/BlackQueen.png');
}

.Black-King
{
  background-image:url('../../../assets/img/pieces/BlackKing.png');
}
.White-Pawn
{
  background-image:url('../../../assets/img/pieces/WhitePawn.png');
}

.White-Rook
{
  background-image:url('../../../assets/img/pieces/WhiteRook.png');
}

.White-Knight
{
  background-image:url('../../../assets/img/pieces/WhiteKnight.png');
}

.White-Bishop
{
  background-image:url('../../../assets/img/pieces/WhiteBishop.png');
}

.White-Queen
{
  background-image:url('../../../assets/img/pieces/WhiteQueen.png');
}

.White-King
{
  background-image:url('../../../assets/img/pieces/WhiteKing.png');
}
